#!/usr/bin/env python
PACKAGE = "dynamic_tunes"
#初始化ROS，并导入参数生成器
from dynamic_reconfigure.parameter_generator_catkin import *
#初始化参数生成器
gen = ParameterGenerator()
#定义需动态配置的参数，格式为
#gen.add(name , type, level, description, default, min, max)
gen.add("velocity", double_t, 0, "reference velocity for mpc tracking",    2.0, 0,   5.0)

gen.add("GPUpdate", bool_t, 0, "enable online GPUpdate",    False)
#生成必要文件并退出
exit(gen.generate(PACKAGE, "dynamic_tunes", "tunes"))
