<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find vrx_gazebo)/config/custom_rosconsole.conf"/>
  <!-- Gazebo world to load -->
  <arg name="world" default="$(find vrx_gazebo)/worlds/example_course.world" />
  <!-- If true, run gazebo GUI -->
  <arg name="gui" default="true" />
  <!-- If true, run gazebo in verbose mode -->
  <arg name="verbose" default="false"/>
  <!-- Set various other gazebo arguments-->
  <arg name="extra_gazebo_args" default=""/>
  <!-- Start in a default namespace -->
  <arg name="namespace" default="wamv"/>
  <!-- Do we lock the vessel to the world? -->
  <arg name="wamv_locked" default="false" />
  <!-- Start paused? -->
  <arg name="paused" default="false"/>
  <!-- Acoustic pinger position(s) -->
  <arg name="pinger_params" default="$(find vrx_gazebo)/config/pinger.yaml"/>

  <!-- Initial USV location and attitude-->
  <arg name="x" default="-582.83" />
  <arg name="y" default="208.39" />
  <arg name="z" default="0.1" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="1" />

  <!-- Allow user specified thruster configurations
       H = stern trusters on each hull
       T = H with a lateral thruster
       X = "holonomic" configuration -->
  <arg name="thrust_config" default="T" />

  <!-- Do we load the VRX sensor suite? -->
  <arg name="vrx_sensors_enabled" default="true" />

  <!-- Set false when the selected world already contains a WAM-V model. -->
  <arg name="spawn_wamv" default="true" />

  <!-- Enable keyboard control for the WAM-V -->
  <arg name="keyboard_enabled" default="true" />
  <!-- Select cyclic (true) or single-pass (false) NMPC trajectory tracking. -->
  <arg name="loop_track" default="true" />

  <!-- Dynamic obstacle ship -->
  <arg name="obstacle_ship_enabled" default="true" />
  <arg name="obstacle_ship_x" default="-546" />
  <arg name="obstacle_ship_y" default="211" />
  <arg name="obstacle_ship_z" default="0" />
  <arg name="obstacle_ship_yaw" default="-1.530" />

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world)"/>
    <arg name="verbose"      value="$(arg verbose)"/>
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)" />
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <!-- Load robot model -->
  <!-- Determine which model -->
  <arg name="h_config" value="$(eval int((thrust_config)=='H'))"/>
  <arg name="t_config" value="$(eval int((thrust_config)=='T'))"/>
  <arg name="x_config" value="$(eval int((thrust_config)=='X'))"/>

  <!-- For now - can only use the T configuration! -->
  <arg if="$(arg t_config)" name="urdf" default="$(find wamv_gazebo)/urdf/wamv_gazebo.urdf.xacro"/>

  <param name="$(arg namespace)/robot_description"
         command="$(find xacro)/xacro &#x002D;&#x002D;inorder '$(arg urdf)'
         locked:=$(arg wamv_locked)		   
         thruster_config:=$(arg thrust_config)
         vrx_sensors_enabled:=$(arg vrx_sensors_enabled)
         namespace:=$(arg namespace) "/>

  <!-- Spawn model in Gazebo -->
  <node if="$(arg spawn_wamv)" name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg R) -P $(arg P) -Y $(arg Y)
              -urdf -param $(arg namespace)/robot_description -model wamv"/>

  <!-- Pinger visualization -->
  <node name="pinger_visualization" pkg="vrx_gazebo" type="pinger_visualization.py" />

  <!-- Convert Gazebo model state to WAM-V odometry. -->
  <!-- <include file="$(find wamv_utils)/launch/wamv_state_converter.launch">
    <arg name="odom_topic" value="/$(arg namespace)/odom"/>
    <arg name="model_name" value="wamv"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame" value="$(arg namespace)/base_link"/>
    <arg name="publish_tf" value="true"/>
    <arg name="twist_in_world" value="true"/>
  </include> -->

  <!-- Keyboard teleoperation -->
  <include if="$(arg keyboard_enabled)" file="$(find vrx_gazebo)/launch/usv_keydrive.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="thrust_config" value="$(arg thrust_config)" />
  </include>

  <!-- Start NMPC trajectory tracking when keyboard teleoperation is disabled. -->
  <include unless="$(arg keyboard_enabled)" file="$(find usv_opt_tracker)/launch/run_wamv.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="loop_track" value="$(arg loop_track)" />
  </include>
  <!-- Publish the tf of the robot's state -->
  <!-- <node ns="$(arg namespace)" pkg="robot_state_publisher"  type="robot_state_publisher"
      name="robot_state_publisher"/> -->

</launch>
