<?xml version="1.0"?>
<model>
  <name>static_buoy_obstacles</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>VRX static obstacle layout</name>
  </author>
  <description>
    Deterministic random blocks made from fixed robotx_light_buoy instances.
  </description>
</model>
