<?xml version="1.0"?>
<model>
  <name>robotx_light_buoy_static</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>VRX static obstacle variant</name>
  </author>
  <description>
    Fixed collision/visual copy of robotx_light_buoy for static obstacle layouts.
  </description>
</model>
